* @DannyOr94 @crissXcoder
/.github/ @DannyOr94 @crissXcoder
/tooling/ @DannyOr94 @crissXcoder
/src/auth/ @crissXcoder @DannyOr94
/src/database/ @crissXcoder @DannyOr94
/src/animales/ @DannyOr94 @crissXcoder
/src/potreros/ @DannyOr94 @crissXcoder
/src/tratamientos/ @DannyOr94 @crissXcoder
/src/reproductivo/ @crissXcoder @DannyOr94
/src/sanitary/ @DannyOr94 @crissXcoder
