* @AriiH08 @DannyOr94 @KarlaAnguloC @crissXcoder
/.github/ @DannyOr94 @crissXcoder
/tooling/ @DannyOr94 @crissXcoder
/src/auth/ @crissXcoder @DannyOr94
/src/database/ @crissXcoder @DannyOr94
/src/animales/ @DannyOr94 @crissXcoder
/src/potreros/ @DannyOr94 @crissXcoder
/src/tratamientos/ @AriiH08 @crissXcoder
/src/reproductivo/ @crissXcoder @DannyOr94
/src/sanitary/ @AriiH08 @crissXcoder
